<div class="slideshow-wrapper">
  <div class="preloader"></div>
  <ul data-orbit>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("sunset_lake.jpg") %>
      <div class="orbit-caption">Sunset on Lake Tekapo, New Zealand</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("sunrise_lake.jpg") %>
      <div class="orbit-caption">Sunrise the next morning on Lake Tekapo, New Zealand</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("me_beach.jpg") %>
      <div class="orbit-caption">That's me! Taranaki Beach, New Zealand</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("elephant_rock.jpg") %>
      <div class="orbit-caption">Elephant! Awesome rock structure in Taranaki Beach, New Zealand.</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("hooker_valley.jpg") %>
      <div class="orbit-caption">The Hooker Valley Track, one of my favorite hikes ever: Aoraki Mount Cook National Park (Te Wahipounamu), New Zealand.</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("elephant_mech.jpg") %>
      <div class="orbit-caption">Machines of the Isle of Nantes, France.</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("bikes_on_wall.jpg") %>
      <div class="orbit-caption">Biking across the Loire Valley, France.</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("timber_houses.jpg") %>
      <div class="orbit-caption">Timber-framed houses in Tours, France.</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("chambord.jpg") %>
      <div class="orbit-caption">From Nantes on bikes to Château de Chambord, France.</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("kalalua_trail.jpg") %>
      <div class="orbit-caption">Hiking the brutal and beautiful Kalalau Trail (the wanderer) on the Napali Coast in Kauai, Hawaii.</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("crawlers_ledge.jpg") %>
      <div class="orbit-caption">Crawler's Ledge, where some overly brave people do this by moonlight, on the Kalalau Trail in Kauai, Hawaii.</div>
    </li>
    <li class="hobby imgLiquidFill imgLiquid">
      <%= image_tag("salton_sea.jpg") %>
      <div class="orbit-caption">Salt-encrusted and scorched at Bombay Beach in Salton Sea, California.</div>
    </li>
  </ul>
</div>